<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Data from Prices Table</h1>
    <form action="{% url 'update_brokers_data' %}" method="post">
        {% csrf_token %}
        <button type="submit">Update Brokers Data</button>
    </form>
    <!-- Display messages -->
    {% if messages %}
    <ul>
        {% for message in messages %}
           <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Currencies</th>
                <th>Binance Last Ask Price</th>
                <th>Nobitex Last Bid Price</th>
                <th>Wallex Last Ask Price</th>
                
            </tr>
        </thead>
        <tbody>
            {% for row in data %}

            <tr>
                <td>
                        {{ row.0 }}
                </td>  <!-- id of currencies-->

                <td>
                    
                        {{ row.1 }}
                    </a>
                </td>  <!-- currencies -->

                <td>
                    <a href="{{ binance_url }}{{row.2|lower}}" target="_blank">
                        {{ row.2 }}
                    </a>
                </td>  <!-- binan last trade price -->

                <td>
                    <a href="{{ nobitex_url }}{{row.3|lower}}" target="_blank">
                        {{ row.3 }}
                    </a>
                </td> <!-- nobitex last trade price -->
                <td>
                    <a href="{{ wallex_url }}{{row.4|lower}}" target="_blank">
                        {{ row.4 }}
                    </a>
                </td> <!-- wallex last trade price-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>